
<div class="row">
  <div class="col">
    <% if current_user %>
      <h1>Provider</h1>
    <% else %>
      <p><%= link_to 'Entrar', new_user_session_path, class: 'btn btn-primary' %></p> 
    <% end %>
  </div>
</div>
